  html,body{
      position: relative;
      height: 100%;
  }
  body {
          background: white;
          font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
          font-size: 14px;
          color: #000;
          margin: 0;
          padding: 0;
          
        }
    
        .swiper-container {
          width: 100%;
          height: 100%;
        }
    
        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;
    
          /* Center slide text vertically */
          
          display: flex;
          justify-content: center;
          align-items: center;
        }
     
        .swiper-slide .container{
            display: flex;
            width: 400px;
            height: 200px;
            background-color: yellow;
        }
        .swiper-slide .container .img{
            width: 35%;
            height: 50%;
            word-break: break-word;
            background-color: pink;
        }
        .swiper-slide .container .img img{
            height: 100%;
            width: 100%;
        }
        .swiper-slide .container .details{
            flex-grow: 1;
            background-color: blue;
            
        }
        .swiper-slide .container .details div:first-child{
            margin-top: 20px;
        }
        .swiper-slide .container .details div{
            margin-bottom: 20px;
        }
        .swiper-slide .container .details a{
            color: white;
            text-decoration: none
        }
        .skeleton-wrapper{
            display: none;
        }

        .swiper-container .swiper-button-prev, .swiper-container .swiper-button-next{
            top: 80%;
        }
        /* .container h3{
            position: absolute;
            top: 70px;
            left: 70px;
        } */