*{
    outline: none;
}
#calculate{
    border: none;
    border-radius: 6px;
    outline: none;
    background-color: blue;
    color: white;
    padding: 10px;
    margin: 10px;
}

#calculate:hover{
    cursor: pointer;
    color: grey;
}

.input {
    margin-top: 5%
}
select{
    margin: 3% 0;
    display: block;
}